<% provide(:title, 'Tips From a Pro') %>
<% content_for :head do%>
  <meta name="description" content="Videos, posts, and success stories to help inspire and motivate students.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="Tips From a Pro">
  <meta name="twitter:description" content="Videos, posts, and success stories to help inspire and motivate students.">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/bleventhal/hero/blog_hero.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/bleventhal/hero/blog_hero.jpg">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Tips From a Pro" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/bleventhal/hero/blog_hero.jpg" /> 
  <meta property="og:description" content="Videos, posts, and success stories to help inspire and motivate students." /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/bleventhal/hero/blog_hero.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Videos, posts, and success stories to help inspire and motivate students."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<img src="https://s3.amazonaws.com/bleventhal/hero/blog_hero.jpg" alt="" class="img-responsive center-block">

<div class="container mt30 mb30">

<% if current_user.try(:admin?)%>
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary" %>
  <br />
  <br />
<% end %>

    <% @blogs.each do |blog| %>
      <% if blog.video %>
        <div class="row">
          <div class="col-md-5">
            <%= link_to blog.video_link, target: "blank" do %> 
              <div style="position: relative;">
                <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive') if blog.images.present?%>
                <img src="https://s3.amazonaws.com/bleventhal/Play-icon.png" class="img-responsive" style="position: absolute; left: 0; top: 0;" alt="">
              </div>
            <% end %>
          </div>

          <div class="col-md-7">
            <h3><%= link_to blog.title, blog.video_link, target: "blank" %></h3>
            <br>
            <p>
              <%= HTML_Truncator.truncate(blog.content_index, 30).html_safe %> <br>
              <%= link_to "Watch Video >", blog.video_link, target: "blank" %>
            </p>
            <% if current_user.try(:admin?) %>
              <%= link_to 'Edit', edit_blog_path(blog.title_for_slug) %>
              <%= link_to 'Destroy', blog_path(blog.title_for_slug), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-5">
              <%= link_to blog_path(blog.title_for_slug) do %> 
                  <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive') if blog.images.present?%>
            <% end %>
          </div>

          <div class="col-md-7">
            <h3><%= link_to blog.title, blog_path(blog.title_for_slug) %></h3>
            <br>
            <p><%= HTML_Truncator.truncate(blog.content_index, 30).html_safe %></p>
              <br>
              <%= link_to 'Read More <i class="fa fa-angle-right"></i>'.html_safe, blog_path(blog.title_for_slug) %>
              <%= link_to 'Edit', edit_blog_path(blog.title_for_slug) if current_user.try(:admin?)%>
              <%= link_to 'Destroy', blog_path(blog.title_for_slug), method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
          </div>
        </div>
      <% end %>


    <hr>
  <% end %>

      <div class="text-center">
        <%= will_paginate @blogs %>
      </div>
</div>



<%= render 'layouts/fancy_contact_form' %>





