<% provide(:title, 'Barbara Leventhal') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>New Blog</h1>

      <%= render 'form', blog: @blog %>

      <div class="mt30 mb30">
         <%= link_to 'Back', blogs_path, class: 'btn btn-default' %>
      </div>
     
    </div>
  </div>
</div>
