<% provide(:title, "#{@blog.title}") %>
<% content_for :head do%>
  <meta name="description" content="<%= @blog.meta_description if @blog.meta_description.present? %>">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="<%= @blog.title %>">
  <meta name="twitter:description" content="<%= @blog.meta_description if @blog.meta_description.present? %>">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="<%= @blog.main_image if @blog.main_image.present? %>">
  <meta name="twitter:image:src" content="<%= @blog.main_image if @blog.main_image.present? %>">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="<%= @blog.title %>" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="<%= @blog.main_image if @blog.main_image.present? %>" /> 
  <meta property="og:description" content="<%= @blog.meta_description if @blog.meta_description.present? %>" /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "<%= @blog.main_image if @blog.main_image.present? %>"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "<%= @blog.meta_description if @blog.meta_description.present? %>"
  }
  </script>
  <!-- end local meta tags -->
<% end %>



<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <%= image_tag(@blog.images[0].pic.url(:large), class:'img-responsive') if @blog.images.present? %>
      <hr>
      <p><i class="fa fa-clock-o"></i><%= @blog.pubdate.strftime("%B %d, %Y") if @blog.pubdate.present? %></p>
      <hr>
      <p class="lead"><%= @blog.title %></p>
      <p class="mt30"><%= @blog.content.html_safe %></p>

      <div class="mt30 mb30">
        <%= link_to '< Back', blogs_path %>
        <%= link_to 'Edit', edit_blog_path(@blog.title_for_slug) if current_user.try(:admin?) %>
      </div>
    </div>
  </div>
</div>






<!-- 
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <hr>
            <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            <hr>
            <p><i class="fa fa-clock-o"></i> Posted on August 24, 2013 at 9:00 PM</p>
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
            <hr>
        </div>
    </div>
</div> -->