<% provide(:title, 'About Barbara') %>
<% content_for :head do%>
  <meta name="description" content="My mission is to help your child maximize his or her potential by increasing their motivation, and guiding them and their families down the right educational path.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="About Barbara">
  <meta name="twitter:description" content="My mission is to help your child maximize his or her potential by increasing their motivation, and guiding them and their families down the right educational path.">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/bleventhal/about/about-header.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/bleventhal/about/about-header.jpg">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="About Barbara" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/bleventhal/about/about-header.jpg" /> 
  <meta property="og:description" content="My mission is to help your child maximize his or her potential by increasing their motivation, and guiding them and their families down the right educational path." /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/bleventhal/about/about-header.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "My mission is to help your child maximize his or her potential by increasing their motivation, and guiding them and their families down the right educational path."
  }
  </script>
  <!-- end local meta tags -->
<% end %>


<img src="https://s3.amazonaws.com/bleventhal/about/about-header.jpg" alt="" class="img-responsive center-block">

<div class="container mt40 mb40">
  <div class="row">
    <div class="col-md-8 mt20">

      <p>
        Hi, I’m Barbara Leventhal, an educational strategist and founder of Educonsulting in Boca Raton, Florida.   I strive to put college and career planning in the context of the student's life by inspiring middle and high school students to inquire about their possibilities for the future.  I work with students and their families locally, domestically and internationally, giving them the step-by-step guidance needed for submitting standout applications.
        <br>
        <br>
        You can count on me to be at your child’s side every step of the way, in person or through video conference.  I’m here to give your family the advice you need, when you need it.  I want to help your family Plan to Achieve success.
        <br>
        <br>
        As a lifetime educator and mentor with more than 30 years experience, I can help your child stand out from the pool of applicants by showcasing his or her unique story, while providing guidance in making one life’s biggest decisions, which college to attend. Whatever you need, from creating a balanced college list, to help on an essay, to suggestions for meaningful summer classes and community service projects, or a complete comprehensive college plan, I am here to help.
        <br>
        <br>
        <u>Professional Member:</u> Independent Educational Consultants Association(IECA) and the Small Boarding Schools Association(SBSA).
        <br>
        <br>
      </p>
      <div hidden>
        <h3 style="font-weight: 600; font-size:20px;" >PASSION</h3>
        <p>
          I am an educational strategist with more than 30 years of experience in education and mentorship, and I am dedicated to helping your child succeed. As we chart the path to achievement for your child, I draw on my background as a teacher, reading specialist, division director, and director of admissions at various public and independent schools. This experience, paired with frequent visits to colleges and boarding school, has afforded me a high level of expertise that only serves to benefit your child’s educational experience.

        </p>
        <h3 class="mt30" style="font-weight: 600; font-size:20px;">PHILOSOPHY</h3>
        <p>
          I believe that every child’s potential is limitless, and that learning is the key to opening all doors. I have worked with middle and high school students continuously since the day I graduated from college, and have yet to come across a student I did not like. I wake up every day excited to learn what’s new in education and how I can apply that information to my students’ lives.
        </p>
        <h3 class="mt30" style="font-weight: 600; font-size:20px;">PURPOSE</h3>
        <p>
          Every child has a unique set of interests and skills that can be cultivated by empowering him or her to make a correlation to real world experiences. My job is to help students explore who they are, where they are going, and how they will get there. My goal is to put college and career planning in the context of your middle or high school student’s life by inspiring your child to inquire about the possibilities for the future, but most importantly by teaching them to develop plans that facilitate achievement. When my students apply to college, they are able to clearly articulate their passions, talents, contributions to the community, and goals for the future — that is what sets them apart.
        </p>
        <br>
        <a href="#fancy" class="get-contact"> Let's talk ></a><a href="/services" style="margin-left: 30px;">Services Offered ></a>
      </div>
    </div>
    <div class="col-md-4 mt20">
      <img src="https://s3.amazonaws.com/bleventhal/general/mypassion_photo.jpg" class="img-responsive" alt="">
    </div>
  </div>

  <%= render 'layouts/testimonials' %>
  
</div>




<%= render 'layouts/affiliations' %>