<% provide(:title, 'Additional Educational Services') %>
<% content_for :head do%>
  <meta name="description" content="My goal is to maximize your child’s potential for college admission by focusing not only on school achievement, but also on encouraging personal development.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="Additional Educational Services">
  <meta name="twitter:description" content="My goal is to maximize your child’s potential for college admission by focusing not only on school achievement, but also on encouraging personal development.">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="http://s3.amazonaws.com/bleventhal/additional-services/additonal-services-header-gradient-w-text.jpg">
  <meta name="twitter:image:src" content="http://s3.amazonaws.com/bleventhal/additional-services/additonal-services-header-gradient-w-text.jpg">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Additional Educational Services" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="http://s3.amazonaws.com/bleventhal/additional-services/additonal-services-header-gradient-w-text.jpg" /> 
  <meta property="og:description" content="My goal is to maximize your child’s potential for college admission by focusing not only on school achievement, but also on encouraging personal development." /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "http://s3.amazonaws.com/bleventhal/additional-services/additonal-services-header-gradient-w-text.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "My goal is to maximize your child’s potential for college admission by focusing not only on school achievement, but also on encouraging personal development."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<img src="//s3.amazonaws.com/bleventhal/additional-services/additonal-services-header-gradient-w-text.jpg" alt="" class="img-responsive center-block">

<div class="container mt40 mb40">
  <div class="row">
    <div class="col-sm-12 mt20">
      <p>I maximize your child’s potential not only by focusing on scholastic achievement, but also by emphasizing personal development. Every student has a unique set of interests that can be cultivated by empowering the student to find and follow their passions, build quality relationships and connect lessons to their real world experiences. The curriculum, learning approach, level of nurturing, and educational demands in every school differs; that’s why <span style="font-weight: bold;">finding the right school is so important.</span>
      </p>
    </div>
  </div>
</div>

<section class="bg-orange color-black">
  <div class="container pt30 pb40">
    <div class="row">
      <div class="col-sm-12">
        <h2>Personalized Services Student Checklist</h2>
        <p>Click below to get more information</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <img src="//s3.amazonaws.com/bleventhal/additional-services/additonal-services-checklist-1.jpg" alt="" class="img-responsive"> <br>
        <img src="//s3.amazonaws.com/bleventhal/additional-services/additonal-services-checklist-2.jpg" alt="" class="img-responsive"> <br>
        <img src="//s3.amazonaws.com/bleventhal/additional-services/additonal-services-checklist-3.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-sm-9">
        <h3>Complete Understanding of Admissions Process</h3>
        <%= form_for :additional_services, url: post_additional_services_path, method: :post do |f| %>
          <%= f.check_box :leadership_development %> <span style="font-weight: 600">Leadership Development:</span> A project helps college-bound students to demonstrate leadership through the development and implementation of unique projects based on their interests. The connection with the real world teaches your child how to channel interests and aptitudes to accomplish a goal that will produce a specific measurable result.<br>

          <%= f.check_box :summer_programs %> <span style="font-weight: 600">Summer Programs:</span> Pre-college programs at boarding schools,colleges and specialty camps help students to explore their interests and develop new skills and talents.<br>

          <%= f.check_box :organizational_skills %> <span style="font-weight: 600">Organization Skills & Study Strategies:</span> Study skills and strategies teach your child how to learn actively and become a more effective and engaged learner.<br>

          <%= f.check_box :subject_tutoring %> <span style="font-weight: 600">Subject Tutoring:</span> Tutors review the work done in the classroom and extend your child’s understanding using methods that match his or her learning style.<br>

          <%= f.check_box :sat_preparation %> <span style="font-weight: 600">ACT, SAT, TOEFL, SSAT Preparation:</span> Diagnostic and prescriptive tutoring and test strategies with elite tutors who prepare your child for success.<br>

          <%= f.check_box :school_consulting %> <span style="font-weight: 600">Boarding School Consulting:</span> Many students thrive with the small classes, personal attention, engaging extracurricular activities, and structured study schedule available in boarding schools.<br>

          <%= f.check_box :school_placement %> <span style="font-weight: 600">Local School Placement:</span> Each school is mission specific and the student-teacher ratio and services vary from school to school. Options include: public, magnet, parochial, and independent day schools.<br>

          <%= f.check_box :gap_programs %> <span style="font-weight: 600">GAP Programs:</span> A break usually taken between high school and college that can include: a PG(post graduation) year at a boarding school, travel, an internship, study abroad, volunteer activities, or research opportunities.<br>
      </div>
    </div>
    <div class="row mt40">
      <div class="col-sm-12 text-center">
        <button href="#" class="btn btn-white" data-toggle="modal" data-target="#addl_services">Submit</button>
      </div>
    </div>

  </div>
</section>

<div id="addl_services" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title mt10 thankyou">Thank you!</h4>
      </div>

      <div class="modal-body">
        <p class="small mb20">This will help me understand how best I can help your child succeed! Please include your child or children's first names and your e-mail address below, and click submit.</p>
          <%= f.label :child_name do %>
            Child's / Children's first name(s)&#42;
          <% end %>
          <%= f.text_field :child_name, class: "form-control", required: true %> 
          <%= f.label :email do %>
            E-Mail&#42;
          <% end %>
          <%= f.text_field :email, class: "form-control", required: true %>
          <div class="text-center pb10">
            <%= f.submit "Submit", class: "btn btn-orange mt30 mb10" %>
          </div>
      </div>

    </div>
  </div>
</div>
<% end %>

 <style>
  .btn-white {
    color: black;
    font-weight: 600;
    background-color: white;
    border-color: white;
    padding: 6px 20px;
  }
  .btn-orange {
    color: black;
    font-weight: 600;
    background-color: #fcaf5d;
    border-color: white;
    padding: 6px 20px;
  }
  .thankyou {
    color: #fcaf5d;
    font-size: 24px;
  }
  .color-black {
    color: black;
  }
 </style>


<%= render 'layouts/affiliations' %>