<% provide(:title, 'College Consulting') %>
<% content_for :head do%>
  <meta name="description" content="Applying to college is time consuming, and can be overwhelming for students. I help students take charge of their decisions and submit strong applications to the right colleges.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="College Consulting">
  <meta name="twitter:description" content="Applying to college is time consuming, and can be overwhelming for students. I help students take charge of their decisions and submit strong applications to the right colleges.">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/bleventhal/college_consulting/College-Consuting-Header-shadow-w-text.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/bleventhal/college_consulting/College-Consuting-Header-shadow-w-text.jpg">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="College Consulting" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/bleventhal/college_consulting/College-Consuting-Header-shadow-w-text.jpg" /> 
  <meta property="og:description" content="Applying to college is time consuming, and can be overwhelming for students. I help students take charge of their decisions and submit strong applications to the right colleges." /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/bleventhal/college_consulting/College-Consuting-Header-shadow-w-text.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Applying to college is time consuming, and can be overwhelming for students. I help students take charge of their decisions and submit strong applications to the right colleges."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<img src="https://s3.amazonaws.com/bleventhal/college_consulting/College-Consuting-Header-shadow-w-text.jpg" alt="" class="img-responsive center-block">

<div class="container mt40 mb40">
  <div class="row">
    <div class="col-sm-2 mt20">
      <img src="https://s3.amazonaws.com/bleventhal/college_consulting/College-consulting-barbara.jpg" width="165px" class="img-responsive" alt="">
    </div>
    <div class="col-sm-10 mt20">
        <p>
          Applying to college is detailed, time consuming work that can be overwhelming for students and their families. My approach is to help students take charge of their decisions and submit strong applications to colleges that are a good fit for them. Frequent visits to colleges and boarding schools allow me to meet with key administrators to gather first-hand information about top educational trends. I can help your family Plan to Achieve!
        </p>
    </div>
  </div>
</div>

<img src="https://s3.amazonaws.com/bleventhal/college_consulting/Infographics.jpg" alt="" class="img-responsive">



<%= render 'layouts/affiliations' %>