<% provide(:title, 'College Consulting and Placement | Barbara Leventhal') %>
<% content_for :head do%>
  <meta name="description" content="With over 30 years of experience as an admissions director and educational consultant, I am passionate about helping my students succeed.">
  <meta name="keywords" content="">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="College Consulting & Placement | Barbara Leventhal">
  <meta name="twitter:description" content="With over 30 years of experience as an admissions director and educational consultant, I am passionate about helping my students succeed.">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/bleventhal/new-home/Image-3.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/bleventhal/new-home/Image-3.jpg">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="College Consulting & Placement | Barbara Leventhal" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/bleventhal/new-home/Image-3.jpg" /> 
  <meta property="og:description" content="With over 30 years of experience as an admissions director and educational consultant, I am passionate about helping my students succeed." /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/bleventhal/new-home/Image-3.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "With over 30 years of experience as an admissions director and educational consultant, I am passionate about helping my students succeed."
  }
  </script>
  <!-- end local meta tags -->
<% end %>








  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <img class="first-slide" src="https://s3.amazonaws.com/bleventhal/new-home/Image-1.jpg" alt="First slide" />
        <div class="container">
          <div class="carousel-caption first-car">
            <a href="/additional-services">Additional Services <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide" src="https://s3.amazonaws.com/bleventhal/new-home/Image-2.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption second-car">
            <a href="/about#testimonials">See Testimonials <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="item active">
        <img class="third-slide" src="https://s3.amazonaws.com/bleventhal/new-home/Image-3.jpg" alt="Third slide">
        <div class="container">
          <div class="carousel-caption third-car">
            <a href="/college-consulting">College Consulting <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="fourth-slide" src="https://s3.amazonaws.com/bleventhal/new-home/Image-4.jpg" alt="Fourth slide">
        <div class="container">
          <div class="carousel-caption fourth-car">
            <a href="/blogs">Tips From a Pro <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="fifth-slide" src="https://s3.amazonaws.com/bleventhal/new-home/Image-5.jpg" alt="Fifth slide">
        <div class="container">
          <div class="carousel-caption fifth-car">
            <a href="/international-students">International Students <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>




  <section class="bg-white mypttop pb35">
      <div class="container-fluid">
        <div class="row pt50">
          <div class="col-md-2 text-center">
            <img src="https://s3.amazonaws.com/bleventhal/new-home/hi-there-Barbara.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-md-9 pr20">
            <h2 class="pb10 color-primary text-left">Hi There!</h2>
            <p class="fts15 lh22">
              As the college admissions process becomes more competitive, maximizing your child’s potential for admittance should be a top priority. My mission is to help them do just that by increasing motivation for personal growth, promoting teamwork between students and families, and providing a wealth of information to guide students and families down the right path.
              <br>
              <br>
              <div class="text-center">
                <a href="#fancy" class="btn btn-custom-primary-border btn-lg get-contact text-center" style="border-color:#d91e3e;">We're Ready!</a>
              </div>
            </p>
          </div>
          <div class="col-md-1"></div>          
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark-blue tipsfromapro">
    <div class="container-fluid">
      <div class="row pb50">
        <div class="col-md-12 text-left">
          <h2 class="pt25 pb25" style="letter-spacing: 1px; color: white;">Tips From a Pro</h2>
        </div>
          <% @blogs.each do |blog| %>
            <% if blog.video %>
              <div class="col-md-4">
                <%= link_to blog.video_link, target: "blank" do %> 
                  <div style="position: relative;">
                    <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive') if blog.images.present?%>
                    <img src="https://s3.amazonaws.com/bleventhal/Play-icon.png" class="img-responsive" style="position: absolute; left: 0; top: 0;" alt="">
                  </div>
                <% end %>
                <br>
                <h3 style="font-weight: 700; color: white;"><%= truncate(blog.title, length: 35) %></h3>
                <div class="ptext">
                  <%= HTML_Truncator.truncate(blog.content_index, 30).html_safe %>
                  <%= link_to 'PLAY VIDEO <i class="fa fa-play" aria-hidden="true"></i>'.html_safe, blog.video_link, target: "blank", style: "color: white; font-weight:600" %>
                </div>
              </div>
            <% else %>
              <div class="col-md-4">
                <%= link_to blog_path(blog.title_for_slug) do %>
                  <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive') if blog.images.present?%>
                <% end %>
                <br>
                <h3 style="font-weight: 700; color: white;"><%= truncate(blog.title, length: 35) %></h3>
                <div class="ptext">
                  <%= HTML_Truncator.truncate(blog.content_index, 30).html_safe %> <br>
                  <%= link_to "READ MORE", blog_path(blog.title_for_slug), style: 'color: white;font-weight:600' %>
                </div>
              </div>
            <% end %>
          <% end %>
        <div class="col-md-12 text-center mt20 mb50" hidden>
          <a href="#fancy" class="btn btn-custom-primary-border-grey btn-lg get-contact" style="border-color: #d91e3e;">LET'S PLAN TO ACHIEVE</a>
        </div>
      </div>
    </div>
  </section>

<section class="myapproach bg-white">
  <div class="container-fluid">
    <div class="row pt25">
      <div class="col-md-12 text-center">
      </div>
      <div class="col-md-4 text-center pb20">
        <img src="https://s3.amazonaws.com/bleventhal/home/barbara_students_scaled.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-8 pb20">
      <h2 class="pb25 text-left color-primary">My Approach</h2>
        <p class="lh22 fts15">
          With more than 30 years of experience as a reading specialist, middle school director, director of admissions, and educational consultant, I am passionate about helping students find success through learning and exploration.
          <br>
          <br>
          Grades and test scores do not adequately describe the unique qualities of each student. Rather, I believe that the secret to success is to help students discover their unique aptitudes and interests. My approach not only encourages students to identify these strengths and inspirations, but also engages them to harness this power to solve real problems.
          <br>
          <br>
          The result? A true sense of fulfillment gained by "doing" - by creating solutions and contributing value to lives and to the community.
        </p>
      </div>
    </div>
  </div>
</section>


<%= render 'layouts/affiliations' %>
