<% provide(:title, 'Educational Consulting for International Students') %>
<% content_for :head do%>
  <meta name="description" content="Studying in the US can give international students experiences that can help them learn skills they can apply for the rest of their lives.">
  <link rel="canonical" href="<%= request.url %>"/>

  <meta name="author" content="Barbara Leventhal">
  <meta property="article:author" content="https://www.facebook.com/BarbaraKLeventhal/">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@barbleventhal">
  <meta name="twitter:title" content="Educational Consulting for International Students">
  <meta name="twitter:description" content="Studying in the US can give international students experiences that can help them learn skills they can apply for the rest of their lives.">
  <meta name="twitter:creator" content="@barbleventhal"> 
  <%# Twitter summary card with large image must be at least 280x150px  %>
  <meta name="twitter:image" content="https://s3.amazonaws.com/bleventhal/international_students/international-students-header-gradient-w-text.jpg">
  <meta name="twitter:image:src" content="https://s3.amazonaws.com/bleventhal/international_students/international-students-header-gradient-w-text.jpg">
  <meta name="twitter:domain" content="<%= request.url %>">


  <!-- Open Graph data --> 
  <meta property="og:locale" content="en" /> 
  <meta property="og:title" content="Educational Consulting for International Students" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="<%= request.url %>" /> 
  <meta property="og:image" content="https://s3.amazonaws.com/bleventhal/international_students/international-students-header-gradient-w-text.jpg" /> 
  <meta property="og:description" content="Studying in the US can give international students experiences that can help them learn skills they can apply for the rest of their lives." /> 
  <meta property="og:site_name" content="Barbara Leventhal" /> 
  <meta property="fb:admins" content="1657579320920047" />

  <!-- GOOGLE Structured data -->
  <script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Website",
   "publisher": {
     "@type": "Person",
     "name": "Barbara Leventhal",
     "logo": {
       "@type": "ImageObject",
       "url": "https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png",
       "width": 354,
       "height": 354
     }
   },
   "url": "<%= request.url %>",
   "image": {
     "@type": "ImageObject",
     "url": "https://s3.amazonaws.com/bleventhal/international_students/international-students-header-gradient-w-text.jpg"
   },
   "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "<%= request.url %>"
   },
   "description": "Studying in the US can give international students experiences that can help them learn skills they can apply for the rest of their lives."
  }
  </script>
  <!-- end local meta tags -->
<% end %>

<img src="https://s3.amazonaws.com/bleventhal/international_students/international-students-header-gradient-w-text.jpg" alt="" class="img-responsive center-block">

<div class="container mt40 mb40">
  <div class="row">
    <div class="col-sm-12 mt20">
      <p>
        Students who study in the US  gain advanced English language skills,  and valuable intercultural experience and skills that they can apply for the rest of their lives   International  students have the opportunity to earn degrees or certificates at  some of the finest universities in the world, with access to advanced technology, research  and internships.
      </p>
    </div>
  </div>
</div>

<section class="blue-bkg pt20 pb30">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12">

        <h2 class="pb15">Services for International Students</h2>
        <div class="container">
          <ul class="orange-bullets">
            <li>We develop educational strategies for families with students in grades 4 -12 who wish to improve their English and study in the US, Canada or UK.</li>
            <div class="container" hidden>
              <ul class="white-bullets">
                <li>Summer programs; pre-college summer programs that focus on language acquisition through special interests. For example:  Music, Drama, Dance, Arts, Robotics, Filmmaking, Entrepreneurship, Fashion Design, Journalism, Sports, 3D printing, Coding, Aviation and many more</li>
                <li>Semester abroad at a US or Canadian Boarding School</li>
                <li>Admission to a boarding school or college</li>
                <li>College transfers</li>
              </ul>
            </div>
            <li>Service begins with a comprehensive discussion with the parent(s) and student, a review of applicable academic and test records, and completion of the Student/Family Profile.</li>
            <li>Advisors speak English, Spanish, and Portuguese.</li>
            <li>Fees are based on US dollars/hour.</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="pt20 pb30">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12">

        <h3>Comprehensive College Plan</h3>
        <ul class="intl_service_form">
          <li>With the Comprehensive College Plan, students in the 7th-12th grades will receive a personal advisor  who will take them through the entire admission process.</li>
        </ul> 

        <h3>Find your story</h3>
        <ul class="intl_service_form">
          <li>The key to a successful application is a cohesive story that aligns with the student’s interests, academic profile and future goals.</li>
          <li>Through surveys and just chatting, I  help my students to discover the best “admissions narrative” and a strategy for how to present their unique story through clubs and activities, community engagement, work, internships, summer study programs, essays, recommendations and interviews.</li>
          <li>Taking time to build a strong personal relationship based on understanding each student’s strengths and weaknesses is a very important step, and it shows in their resumes and their results.</li>
        </ul> 
          
          <h3>College List Selection</h3>
            <ul class="intl_service_form">
              <li>My visits with key admissions staff at boarding schools and colleges are a great advantage to students and their families.  After creating a well balanced list of schools, then, we  determine the best overall application strategy; whether you should apply Early Action(EA), Early Decision (ED),Rolling Admission (RA), or Regular Decision (RD).</li>
            </ul>

          <h3>Application Guidance and Management</h3>
            <ul class="intl_service_form">
              <li>One on one meetings to complete all applications</li>
              <li>Manage time and deadlines</li>
              <li>Highlight strengths</li>
            </ul>

          <h3>Essays</h3>
            <ul class="intl_service_form">
              <li>Brainstorming</li>
              <li>Feedback and editing</li>
              <li>Submit your best work</li>
              <li>Access to application essays and school specific requirements</li>
            </ul>

          <h3>Letters of Recommendation</h3>
          <ul class="intl_service_form">
            <li>Decide which teachers / professors to ask for recommendations</li>
            <li>Learn how to approach teachers for the best results</li>
          </ul>

          <h3>Interview Preparation</h3>
          <ul class="intl_service_form">
            <li>Prepare students for on campus and off campus interviews and meetings with admissions officers</li>
            <li>Practice interview questions and expert responses</li>
          </ul>

          <h3>Test Scheduling</h3>
          <ul class="intl_service_form">
            <li>Establish a standardized testing schedule</li>
            <li>Explore test preparation strategies/classes</li>
          </ul>

          <h3>Summer Experiences</h3>
          <ul class="intl_service_form">
            <li>Provide opportunities to maximize interests and English through summer programs</li>
          </ul>

          <h3>Wait List / Deferral</h3>
          <ul class="intl_service_form">
            <li>Develop strategies for acceptance if placed on the waitlist or deferred</li>
            <li>This plan also includes communication with colleges on the student’s behalf.</li>
            <li>Students will receive in-person meetings (where available), Zoom video conferences, SKYPE, or WhatsApp and  email correspondences.</li>
          </ul>
        </div>

<!--         <div class="col-sm-12 text-center mt50 mb20">
          <button href="#" class="btn btn-blue" data-toggle="modal" data-target="#intl_students" onclick="return false;">Submit</button>
        </div> -->

    </div>
    <br>
    <hr>
  </div>
</section>



<style>
  h2 {
    letter-spacing: 1px;
  }

  .blue-bkg  {
    background-color: #8BDAE4;
    color: black;
  }  

  ul.intl_service_form li {
    margin-left: 2.4em;
  }

  ul.orange-bullets li,
  ul.white-bullets li {
    color: black; 
    /* set color of list item text */

    list-style: none; 
  }

  ul.orange-bullets li::before {
    color: #EC8F62;  
    /* color of bullet or square */

    content: "\25A0"; 
    /* Unicode of character (square) to precede the list item */

    font-size: 1em; 
    /* em or %*/

    padding-right: 0.65em; 
    /* use em*/

    position: relative;
    top: 0em; 
    /* use em or % */
  }

  ul.orange-bullets li {
    padding-left: 1.3em;
    text-indent: -1.3em;
  }

  ul.white-bullets li::before {
    color: #fff;  
    /* color of bullet or square */

    content: "\25CF"; 
    /* Unicode of character (bullet) to precede the list item */

    font-size: 1em; 
    /* em or %*/

    padding-right: 0.65em; 
    /* use em*/

    position: relative;
    top: 0em; 
    /* use em or % */
  }
  
  ul.white-bullets li {
    padding-left: 1.6em;
    text-indent: -1.3em;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .btn-blue {
    color: black;
    font-weight: 600;
    background-color: #8BDAE4;
    border-color: #8BDAE4;
    padding: 6px 20px;
  }
  .thankyou {
    color: #fcaf5d;
    font-size: 24px;
  }
  .btn-orange {
    color: black;
    font-weight: 600;
    background-color: #fcaf5d;
    border-color: white;
    padding: 6px 20px;
  }

</style>

<%= render 'layouts/affiliations' %>