<h1>You have received a new contact</h1>

<h3>Contact Details</h3>

<% if @contact.message.present? %>
  <% if @contact.name.present? %>
    <p>Full name: <%= @contact.name %></p>
  <% end %>
  <p>Email: <%= @contact.email %></p>
  <% if @contact.phone_number.present? %>
    <p>Phone: <%= @contact.phone_number %></p>
  <% end %>
  <% if @contact.child_grade_level.present? %>
    <p>Child's Grade Level: <%= @contact.child_grade_level %></p>
  <% end %>
  <p>Message: <%= @contact.message %></p>

<% elsif @myparams[:additional_services].present? %>
  <p>Full name: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <br />
  <h3>Interests (Additional Services):</h3>
  <% @myparams[:additional_services].keys.each do |key| %>
    <% if @myparams[:additional_services][key].to_i > 0 %>
      <p><%= "#{key}".humanize %></p>
    <% end %>
  <% end %>

<% elsif @myparams[:international_students].present? %>
  <p>Full name: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <br />
  <h3>Interests (International Students):</h3>
  <% @myparams[:international_students].keys.each do |key| %>
    <% if @myparams[:international_students][key].to_i > 0 %>
      <p><%= "#{key}".humanize %></p>
    <% end %>
  <% end %>

<% end %>