/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "variables";





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* Normalized Styles
------------------------------------------------------------------------------*/

body {
  font: 16px/30px Arial, Helvetica, sans-serif;
  color: #6f7784;
  background: #fff;
}

input, textarea, select, button {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}


.modal-header {
  border:none;
}



/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #fff;
  color: #000;
  text-shadow: none;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

.fancybox-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 8040;
  background: url("//s3.amazonaws.com/bleventhal/old/ico_close.png") no-repeat;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("//s3.amazonaws.com/bleventhal/old/bg_blue.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

#fancy {
  display: none;
  padding: 19px 22px 26px 22px;
}

#fancy h2 {
  font-size: 48px;
  line-height: 48px;
  padding-bottom: 33px;
}

#fancy .left {
  float: left;
  padding: 0 4px;
}

#fancy .right {
  float: right;
  padding: 0 4px;
}

#fancy fieldset {
  width: 370px;
  background: #e6e8ec url("//s3.amazonaws.com/bleventhal/old/ico_form.png") no-repeat 21px 19px;
  border-radius: 4px;
  height: 52px;
  margin-bottom: 8px;
}

#fancy .name {
  background-position: 21px -33px;
}

#fancy .subject {
  background-position: 21px -85px;
}

#fancy .question {
  background-position: 21px -137px;
  height: 172px;
}

#fancy input {
  height: 52px;
  font-size: 14px;
  color: #7e8798;
  border: none;
  background: none;
  width: 100%;
  padding: 16px 10px 16px 60px;
}

#fancy textarea {
  height: 172px;
  font-size: 14px;
  color: #7e8798;
  border: none;
  background: none;
  width: 100%;
  padding: 18px 10px 18px 60px;
  resize: none;
}

#fancy fieldset {
      background-color: white !important;
    border: 1px solid #7e8798 !important;
}

#fancy textarea::-webkit-input-placeholder,
#fancy input::-webkit-input-placeholder {
  color:#7e8798;
}
#fancy textarea::-moz-placeholder,
#fancy input::-moz-placeholder {
  color:#7e8798;
}

#fancy .btn-holder {
  padding-top: 32px;
}

#fancy .btn {
  width: 230px;
  height: 52px;
}

.crf-s {
  outline: none;
  line-height: 20px;
  margin: 0 0 8px 0;
  position: relative;
  cursor: pointer;
  height: 52px;
  font-size: 14px;
  color: #7e8798;
  border: none;
  background: none;
  width: 100%;
  display: block;
  padding: 16px 10px 16px 60px;
}

.crf-s:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 52px;
  border-left: 1px solid #d0d2d5;
  background: url("//s3.amazonaws.com/bleventhal/old/bg_arrow_select.png") no-repeat 19px 23px;
}

.crf-sm li {
  cursor: pointer;
}

.crf-sm {
  position: absolute;
  border: 1px solid #cccccc;
  display: none;
  overflow: auto;
  max-height: 300px;
  z-index: 9999;
  border: 1px solid #cbcbcb;
  background: #e6e8ec;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #555555;
  font-size: 14px;
  padding: 5px 20px;
  line-height: 24px;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .fancybox-close {
      background-image: url(//s3.amazonaws.com/bleventhal/old/my_ico_close_2x.png) !important;
      background-size: 50px 50px;
  }
}

.fancybox-close {
    background: url(//s3.amazonaws.com/bleventhal/old/my_ico_close.png) no-repeat !important;
}

/* Fonts
------------------------------------------------------------------------------*/ 

@font-face {
  font-family: 'BebasNeueBold';
  src:url('assets/BebasNeueBold.eot');
  src:url('assets/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('assets/BebasNeueBold.svg#BebasNeueBold') format('svg'),
    url('assets/BebasNeueBold.woff') format('woff'),
    url('assets/BebasNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src:url('assets/BebasNeueBook.eot');
  src:url('assets/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('assets/BebasNeueBook.svg#BebasNeueBook') format('svg'),
    url('assets/BebasNeueBook.woff') format('woff'),
    url('assets/BebasNeueBook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src:url('assets/BebasNeueRegular.eot');
  src:url('assets/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('assets/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
    url('assets/BebasNeueRegular.woff') format('woff'),
    url('assets/BebasNeueRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal; 
}



/* Media
------------------------------------------------------------------------------*/ 

@media only screen and (max-width: 1200px) {

  h1,
  h2 {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 40px;
  }
  
  #fancy .right,
  #fancy .left {
    width: 100%;
  }
  
  #fancy fieldset {
    width: 100%;
  }
  
}


@media only screen and (max-width: 900px) {
  
  h1,
  h2 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 30px;
  }
 
     
  #fancy {
    padding-left: 0;
    padding-right: 0;
  }
  
}









/*---------------Alex Updates---------------*/

.services.index h4 {
  font-size: 18px;
  margin: 10px 0px;
  font-weight: bold;
}

/*.mydivider {
  background: transparent url("//s3.amazonaws.com/bleventhal/old/bg_white_arrow.png") no-repeat 50% 0;
  height: 30px;
  position: relative;
  margin-top: 3px;
  margin-bottom: -30px;
  z-index: 2;
}*/

.mybutton {
    color: #fff !important;
    background-color: $primary !important;
    border-color: $primary !important;
    text-align: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.blogs hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

footer h3 {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}

footer a {
  font-size: 16px;
  color: white;
  &:hover {
    color:#12058c;
  };
}

footer a>i:hover {
  color: white;
}

.dblh10 {
  display: block;
  line-height: 19px;
  font-size: 13px;
}

@media only screen and (max-width: 767px) {
  .smt7 {
    margin-top: 7px;
  }
  .smt14 {
    margin-top: 14px;
  }
}


@media only screen and (min-width : 320px) {
  .position-img {
    position: absolute; 
    display: block; 
    margin: 0 auto; 
    top: 263px;
    text-align: center; 
    right: 0px;
  }

  .position-txt {
    position: absolute; 
    display: block; 
    margin: 0 auto; 
    top: 180px; 
    left: 0; 
    right: 0; 
    width: 310px; 
    text-align: center;
  }

  .hero-text {
    font-size: 15px; 
    line-height: 16px;
    font-weight: normal;
    margin:10px 10px;
    font-weight: 900;
  }

  .cpu-large {
    display: none;
  }

  .cpu-medium {
    display: none;
  }

  .mobile {
    display: block;
  }
}



@media only screen and (min-width : 768px) {
  .position-img {
    position: absolute; 
    display: block; 
    margin: 0 auto; 
    top: 312px;
    text-align: center; 
    right: 1%;
  }

  .position-txt {
    position: absolute; 
    display: block; 
    margin: 0 auto; 
    top: 270px; 
    left: 0; 
    right: 0; 
    width: 645px; 
    text-align: center;
  }

  .hero-text {
    font-size: 22px; 
    line-height: 25px;
    font-weight: 900;
  }

  .cpu-large {
    display: none;
  }

  .cpu-medium {
    display: block;
  }

  .mobile {
    display: none;
  }
}



@media only screen and (min-width: 1201px) {
  .position-img {
    position: absolute; 
    display: block; 
    margin: 0 auto; 
    top: 412px;
    text-align: center; 
    right: 1%;
  }

  .position-txt {
    position: absolute; 
    display: block; 
    margin: 0 auto; 
    top: 425px; 
    left: 0; 
    right: 0; 
    width: 820px; 
    text-align: center;
  }

  .hero-text {
    font-size: 37px; 
    line-height: 35px;
    font-weight: 900;
  }

  .cpu-large {
    display: block;
  }

  .cpu-medium {
    display: none;
  }

  .mobile {
    display: none;
  }
}

.lh20 { line-height: 20px; }
.lh22 { line-height: 22px; }
.fts15 { font-size: 15px; }

.optimize-btn {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .optimize-btn {
    font-size: 11px;
    font-weight: 400;
  }
}


.toggle-txt {
  top: 409px !important;
}

.toggle-img {
  top: 472px !important;
}

@media only screen and (min-width: 768px)  {
  .first_menu {
    margin-left: -140px;
  }

  .second_menu {
    margin-left: 0px;
  }
}

.stories.index h3>a, .blogs.index h3>a {
  font-size: 22px;
}

.color-transparent {
  background-color: transparent;
}

.service-bullet li {
  list-style: disc; 
  margin-left: 15px;
}

.redh2 {
  text-align:left;
  color:#C43849; 
  padding-bottom: 15px; 
  text-transform: capitalize !important; 
  font-size: 47px; 
  line-height: 53px;
}


.services_head {
  color:#C43849; padding-bottom: 35px; font-size: 47px; line-height: 53px; text-align: left; text-transform: capitalize;
}

@media only screen and (max-width: 767px)  {
  .mobile-align-left {
    text-align: left;
  }
}


.dropdown-item {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.tipsfromapro p {
  font-size: 14px;
  line-height: 17px !important;
  color: white !important;
  opacity: 0.8;
}
.tipsfromapro .ptext {
  font-size: 14px;
  line-height: 17px !important;
  color: white !important;
  opacity: 0.8;
}

.home.index .ptext p {
  color: white !important;
}

.home.index .ptext p span {
  color: white !important;
}

h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: -3px;
}

h3 {
  font-size: 18px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
    line-height: 1;
}

.right.carousel-control .fa-chevron-right {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  right: 30%;
  font-size: 30px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  line-height: 1;
}

.left.carousel-control .fa-chevron-left {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  left: 30%;
  font-size: 30px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  line-height: 1;
}







.carousel-caption {
  left: 50%;
  right:0%;
  font-size: 1.8vw;
  padding-top: 0px;
  padding-bottom: 0px;
}
.carousel-caption a{
  color: white;
  text-decoration: none; 
}
.first-car {
  left: -73%;
  top: 0%;
  margin-top: 27%;
}
.second-car {
  left: 26%;
  top: 0%;
  margin-top: 32%;
}
.third-car {
  left: 25.5%;
  top: 0%;
  margin-top: 32%;
}
.fourth-car {
  left: 8.5%;
  top: 0%;
  margin-top: 32%;
}
.fifth-car {
  left: 47%;
  top: 0%;
  margin-top: 33%;
}
ol.carousel-indicators {
  bottom: -37px;
}
.carousel-indicators .active {
  background-color: gray;
}
.carousel-indicators li {
  border: 1px solid gray;
}

@media only screen and (max-width : 768px) {
  .first-car { 
    margin-top: 27% !important; 
  }
  .second-car { 
    margin-top: 30% !important; 
  }
  .third-car { 
    margin-top: 30% !important; 
  }
  .fourth-car { 
    margin-top: 29.5% !important; 
  }
  .fifth-car { 
    margin-top: 30% !important; 
  }
}

@media only screen and (max-width : 400px) {
  .first-car { 
    margin-top: 26% !important; 
  }
}




