/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Colors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
$primary:#fcaf5d;
/*$primary:#D91E3E;*/
$secondary:#21252C;
$color-link:#f68655;

$white:#ffffff;
$blue:#348fe2;
$black:#2d353c;
$purple:#727cb6;
$orange:#fcaf5d;
$yellow:#f4d15b;
$green:#00acac;
$red:#d91e3e;
$grey:#c9d2b1;
$brown: #656565;
$beige: #f4ede7;

/*Light Colors*/
$light-primary:#f8a87e;
$light-secondary:#527481;

$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f9f9f9;
$light-orange:#f7ab83;

/*Dark Colors*/
$dark-primary:#df8150;
$dark-secondary:#334850;

$dark-green:#26D26E;
$dark-blue:#7AA8B6;
$dark-red:#531a1f;
$dark-grey:#818d92;
$dark-orange:#fa6132;

$dark-primary:#df8150;
$dark-secondary:#334850;

/*Social Media*/
$facebook:#3c5a99;
$google:#C63D2D;
$instagram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$kijiji:#4c4b6d;
$craigslist:#5D008F;

/* Background Color classes */
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary;}
.bg-color-link{background:$color-link;}

.bg-white{background:$white;}
.bg-blue{background: $blue !important;}
.bg-black{background:$black !important;}
.bg-purple{background: $purple !important;}
.bg-orange{background:$orange !important}
.bg-yellow{background:$yellow !important;}
.bg-green{background: $green !important;}
.bg-red{background:$red !important;}
.bg-grey{background:$grey !important}
.bg-brown{background:$brown !important}
.bg-beige{background:$beige !important}

.bg-light-green{background:$light-green !important}
.bg-light-blue{background:$light-blue !important}
.bg-light-red{background:$light-red !important}
.bg-light-grey{background:$light-grey !important}
.bg-light-orange{background:$light-orange !important}

.bg-dark-green{background:$dark-green !important}
.bg-dark-blue{background:$dark-blue !important}
.bg-dark-red{background:$dark-red !important}
.bg-dark-grey{background:$dark-grey !important}
.bg-dark-orange{background:$dark-orange !important}

.bg-facebook{background:$facebook !important}
.bg-google{background:$google !important}
.bg-instagram{background:$instagram !important}
.bg-pinterest{background:$pinterest !important}
.bg-linkedin{background:$linkedin !important}
.bg-twitter{background:$twitter !important}
.bg-vimeo{background:$vimeo !important}
.bg-youtube{background:$youtube !important}
.bg-kijiji{background:$kijiji !important}
.bg-craigslist{background:$craigslist !important}

.bg-transparent{background: transparent;}



.color-primary{color: $primary;}
.color-secondary{color: $secondary;}
.color-white{color: $white;}
.color-black{color: $black;}
.color-yellow{color: $yellow;}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Buttons---------------------------------------*/
/*--------------------------------------------------------------------------------------*/


/*.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}*/






/*NEWWWWWWWWWWWWWWWWWWWWWWWW*/

.btn-custom-default{
  color:$black;
  background-color: $light-grey;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $grey;
    box-shadow: none !important;
  }
}

.btn-custom-primary {
  color:$white !important;
  background-color: $primary;
  border:none;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-primary ;
    box-shadow: none !important;
    border:none;
  }
}

.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-secondary;
    box-shadow: none !important;
  }
}

/* NEW BTN BORDER */

.btn-custom-default-border {
  color:$grey;
  background-color: $white;
  border: 2px solid $grey !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $grey;
    box-shadow: none !important;
  }
}
.btn-custom-primary-border {
  color:#000;
  background-color: $primary;
  border: 2px solid $primary !important;
  padding: 4px 6px;
  font-weight: 500;
  border-radius: 12px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $primary;
    box-shadow: none !important;
  }
}

.btn-custom-primary-border-white {
  color:$primary;
  background-color: $white;
  border: 2px solid $primary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $primary;
    box-shadow: none !important;
  }
}

.btn-custom-primary-border-grey {
  color:$dark-grey;
  background-color: $grey;
  border: 2px solid $dark-grey !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-grey;
    box-shadow: none !important;
  }
}
.btn-custom-secondary-border {
  color:$secondary;
  background-color: $white;
  border: 2px solid $secondary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $secondary;
    box-shadow: none !important;
  }
}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Errors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.has-error .form-control::-moz-placeholder {color: $dark-red;}
.has-error .form-control:-ms-input-placeholder {color: $dark-red;}
.has-error .form-control::-webkit-input-placeholder {color:$dark-red;}

.form-group .has-error {
  margin-bottom:6px;
  &.help-block{
    margin-bottom:4px;
  }
}

/*need to finish this up*/
/*#error_explanation {
  background-color: grey;
  border: 2px solid orange;
}
#error_explanation > h2{
  background-color: red;
}
#error_explanation > ul > li{
  background-color: blue;
}*/


/* From Michael Hartl */
/*#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
 }*/



/*
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 100%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
*/

/*--------------------------------------------------------------------------------------*/
/*-----------------------------------Margin & Padding-----------------------------------*/
/*--------------------------------------------------------------------------------------*/
$a:0;
@while $a <= 500{
  // Margin
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px !important;}
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mAll#{$a}{margin: $a*1px !important;}

  // Padding
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important; }
  .pl#{$a}{padding-left: $a*1px !important; }
  .pr#{$a}{padding-right: $a*1px !important; }
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}

/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Boostrap Media Query*/
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$padding-screen:15px;

