<section class="bg-white pb40">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="pt30 pb5" style="letter-spacing: 0px;">Affiliations & Accreditations</h2>
        <p>I am a member of the Independent Educational Consultants Association, National Association of College Admissions Counselors, and the Small Boarding Schools Association.</p>
      </div>
      <div class="col-md-12 mt30 text-center">
          <img src="https://s3.amazonaws.com/bleventhal/new-home/Home-Page-Affilaitions.jpg" alt="" class="img-responsive" style="margin:0 auto;">
      </div>
    </div>
  </div>
</section>