<% unless current_page?("/admin") %>
  <div id="fancy">
    <h2>Plan to achieve... start today.</h2>
    <%= form_for Contact.new, :html => { :id => "new_contact" }, :url => contacts_path, method: "post" do |f| %>
      <div class="left">
        <fieldset class="mail"><%= f.email_field :email, class: "form-control", placeholder: "Email address...", required: true %></fieldset>
        <fieldset class="name"><%= f.text_field :name, class: "form-control", placeholder: "Name...", required: true %></fieldset>
        <fieldset class="subject"><%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number...", required: true %></fieldset>
      </div>
      <div class="right">
        <fieldset class="question"><%= f.text_area :message, class: "form-control", placeholder: "Type here...", required: true %></fieldset>
      </div>
      <div class="btn-holder">
        <%= f.submit "Let's Talk", class: "btn mybutton" %>
      </div>
    <% end %>
  </div>
<% end %>
