<footer class="bg-brown">
  <div class="container pt20 pb40 color-white">
    <div class="row">
      <div class="col-sm-4 text-center mt20">
        <h3>Menu</h3>
        <a href="/about" class="dblh10">About</a>
        <a href="/college-consulting" class="dblh10">College Consulting</a>
        <a href="/blogs" class="dblh10">Tips From a Pro</a>
        <a href="international-students" class="get-contact dblh10">International Students</a> 
        <% if current_user.try(:admin?) %>
          <%= link_to "Sign out", destroy_user_session_path, class: "secondary", :method => :delete %>
        <% end %>
      </div>
      <div class="col-sm-4 text-center smt7 mt20">
        <p class="pt7">
          <a href="https://www.facebook.com/BarbaraKLeventhal/" target="blank"><img src="https://s3.amazonaws.com/bleventhal/new-home/facebook-icon.png" width="50"></a>
          <a href="https://www.instagram.com/barbarakleventhal/" target="blank"><img src="https://s3.amazonaws.com/bleventhal/new-home/Instagram-icon.png" width="50"></a> 
          <a href="https://www.linkedin.com/in/barbara-k-leventhal-017b45a/" target="blank"><img src="https://s3.amazonaws.com/bleventhal/new-home/LinkedIn-icon.png" width="50"></a>
          <a href="https://twitter.com/barbleventhal" target="blank"><img src="https://s3.amazonaws.com/bleventhal/new-home/Twitter-icon.png" width="50"></a>
        </p>
      </div>
      <div class="col-sm-4 text-center smt14 mt20">
        <img src="https://s3.amazonaws.com/bleventhal/Barbara+Leventhal_Logo_TAG_white_scaled.png" alt="" class="img-responsive" style="margin: 0 auto;">
      </div>
      </div>
    </div>
  </div>
</footer>