<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="brand"><img src="//s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png" alt="" width="100"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="firstli <%= is_active?('/about') %>"><a href="/about">About</a></li>
        <li class="secondli <%= is_active?('/college-consulting') %>"><a href="/college-consulting">College Consulting</a></li>
        <li class="<%= is_active?('/international-students') %>"><a href="/international-students">International Students</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= is_active?('/additional-services') %>"><a href="/additional-services">Additional Services</a></li>
        <li class="<%= is_active?('/blogs') %>"><a href="/blogs">Tips From A Pro</a></li>
        <li><a href="//s3.amazonaws.com/bleventhal/BL-Brochure.pdf" target="blank">Brochure</a></li>
      </ul>
    </div>
  </div>
</nav>





<style>

  #navbar {
    margin-top: 20px;
    margin-left: 0px;
  }
  #navbar .navbar-nav{
    width: 40%;
  }
  #navbar .navbar-nav li{
    width: 33%;
  }
  .firstli {
    margin-right: -20px !important;
  }
  .secondli {
    margin-right: 20px !important;
  }

  .navbar {
      position: relative;
      min-height: 84px;
      margin-bottom: 10px;
      margin-top: 5px;
      background-color: white;
      border: none;
  }
  .brand {
      position: absolute;
      left: 50%;
      margin-left: -50px !important;  /* 50% of your logo width */
      display: block;
      z-index: 99;
  }

  .navbar-default .navbar-nav > li > a {
      color: #777;
      font-size: 14px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
  }

  .navbar-nav li.current a {
    color: #008bc4;
    text-decoration: underline;
  }
  .navbar-nav li a:hover {
    color: #008bc4!important;
  }

  .navbar-default .navbar-toggle {
    margin-top: 20px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
       border-color: transparent !important; 
  }

  @media only screen and (max-width: 767px) {
    #navbar .navbar-nav {
      margin-top: 30px;
      text-align: right;
      width: 100%;
    }
    #navbar .navbar-nav.navbar-right {
      margin-top: 0px; 
    }
    #navbar .navbar-nav li {
      width: 100%;
      margin-left: auto;
      text-align: right;
    }
    #navbar .navbar-nav li a{
      margin-left: auto;
      text-align: right;
    }
    .firstli {
      margin-right: auto !important;
    }
    .secondli {
      margin-right: auto !important;
    }
  }

</style>





<% if !@blog.present? %>
<div class="halfcircle">
  <img src="https://s3.amazonaws.com/bleventhal/new-home/Circle-Nav-bar.png" alt="" class="center-block">
</div>
<style>
  .halfcircle {
      margin-top: -10px;
      margin-bottom: -45px;
      z-index: 9;
      position: relative;
  }
</style>
<% end %>