<div class="popup_form">
  <div class="popup_button"><a><i class="fa fa-comments" aria-hidden="true"></i></a></div>
  <%= form_for Contact.new, :html => { :id => "new_contact" }, :url => contacts_path, method: "post" do |f| %>
    <p>
      <img src="https://s3.amazonaws.com/bleventhal/barbara_chat.png" class="chatimg" width="25" alt="">
      Hi I'm Barbara, how can I help your student plan to achieve?
    </p>
    <%= f.text_area :message, rows: "4", class: "form-control", placeholder: "Type here...", required: true %>
    <div id="chat_form" style="display:none;">
    <p>Please provide the following:</p>
    <%= f.email_field :email, class: "form-control", placeholder: "Email address...", required: true %>
    <%= f.text_field :child_grade_level, class: "form-control", placeholder: "Child's Grade Level...", required: true %>
    <%= f.submit "Let's Talk", class: "btn mybutton form-control" %>
    </div>
  <% end %>
</div>


<style>
.popup_form {
    position:fixed;
    right:8px;
    bottom:3px;
    width:300px;
    font-size:12px;
    z-index: 99;
}
.popup_form .popup_button{
    position:relative;
    right:-14px;
    bottom:0;
    padding:0 0 0 225px;
}
.popup_form .popup_button a{
    padding:0 5px;
    text-align:right;
    background:#D91E3E;
    cursor:pointer;
    font-size: 50px;
}
.popup_button .fa {
  color: white;
}
.popup_form form{
    border:1px solid #666;
    background:#dfdfdf;
    padding:10px;
    display:none;
}
.popup_form form p{
  font-size: 16px;
  color: black;
  margin-top: 7px;
  margin-bottom: 7px;
}
.popup_form .mybutton{
  border-radius: 4px;
  text-align: right;
  margin-top: 7px;
}

.popup_form textarea {
  resize: none;
}
.chatimg {
  margin-bottom: -5px;
}
</style>


<script>
  $(function() {
    $(window).scroll(function() {
      if($(window).scrollTop() + $(window).height() > $(document).height() - ($('footer').height() + 3)) {
        $('.popup_form').css({"position": "fixed", "bottom": ($('footer').height() + 3) - ($(document).height() - ($(window).scrollTop() + $(window).height()))});
      } else {
        $('.popup_form').css({"position": "fixed", "bottom": "3px"});
      }
    });

    $('.popup_form a').on('click',function(){
      $('.popup_form form').slideToggle('slow');
    });
    $('.popup_form textarea').on('keyup',function(e){
      var regex = new RegExp("[A-Za-z]");
      if(e.keyCode == 13 && regex.test($(this).val()))
      {
          $(this).prop('readonly', 'true');
          $('#chat_form').show(1200);
          $('#chat_form #contact_email').focus();
      }
    });
  }());
</script>


