<div class="row" id="testimonials">
  <div class="col-md-12 mt50 pt30 pb10" style="background-color: mistyrose;">
    <div class="owl-carousel owl-theme">
      <div class="item text-center">
        <p style="font-size: 20px;"><span style="font-size: 35px;">&#8220;</span>When I first started working with Barbara in high school, I had no idea how I was going to write all the essays for my applications. I felt overwhelmed. It was a detailed process, but Barb kept me on track. She guided my family and me through the many decisions involved in the college admission process, calmed us when we were worried, and made it possible for us to get through the whole process with minimal stress. When it came time to apply to grad school, I went back to Barb again because of how much value she added. Thanks, Barb, I was admitted to all three of my top choice grad schools!<span style="font-size: 35px;">&#8221;</span></p>
        <br>
        <h4 style="font-weight: bold; font-size:24px;">– LAUREN M.</h4>
        <p>Spanish River High School (Class of 2013); Indiana University(Class of 2017)</p>
      </div>
      <div class="item text-center">
        <p style="font-size: 20px;"><span style="font-size: 35px;">&#8220;</span>I was accepted at all of my top schools and was awarded over $200,000 in merit aid, so YES, Barb’s guidance really made a difference.  She gave me actionable feedback that allowed me to improve my essays; we worked together, revising my essays until they were perfect. She managed and respected my workload by scheduling frequent short meetings. I completed all ten of my applications by the early deadline, so I could take advantage of the early admission opportunities and merit aid.<span style="font-size: 35px;">&#8221;</span></p>
        <br>
        <h4 style="font-weight: bold; font-size:24px;">– PARKER D.</h4>
        <p>Scotch Plains/Fanwood High School,NJ (Class of 2017); University of Michigan (Class of 2021)</p>
      </div>
      <div class="item text-center">
        <p style="font-size: 20px;"><span style="font-size: 35px;">&#8220;</span>We know we are not alone in how we feel about you. You are so much more than a coach to your students and their families. Your support and genuine interest in our children’s success and well-being is both touching and invaluable.<span style="font-size: 35px;">&#8221;</span></p>
        <br>
        <h4 style="font-weight: bold; font-size:24px;">– LISA and Wayne W.</h4>
        <p>Parents of Mia W. Saint Andrew’s School(Class of 2013) and SMU (Class of 2017) and Ryan W. (Class of 2016), Saint Andrew’s School</p>
      </div>
      <div class="item text-center">
        <p style="font-size: 20px;"><span style="font-size: 35px;">&#8220;</span>My parents and I were excited and nervous when I traveled from Brazil to the US alone to attend a two-week summer Business Bootcamp at Drexel University in Philadelphia.  My goal was to experience a taste of college in the US before applying.  I got so much more.  I lived in the dorms, made great friends and improved my English. Thank-you Barbara, I loved Drexel and I can’t wait to go to college in the US.<span style="font-size: 35px;">&#8221;</span></p>
        <br>
        <h4 style="font-weight: bold; font-size:24px;">– ARISSA M.</h4>
        <p>Pueri Domus HS, Sao Paolo, Brazil (Class of 2018)</p>
      </div>                        
    </div>
  </div>
</div>

<style>
  .owl-carousel.owl-theme {
    position: relative;
  }

  .owl-theme .owl-nav {
    position: absolute;
    top: 40%;
    margin-top: 0px;
  }

  .owl-nav {
    text-align: center;
    width: 100%;
  }

  .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
  }

  .owl-nav .owl-next {
    position: absolute;
    right: 5px;
  }

  .item.text-center {
    margin: 0 50px;
  }
</style>