<!DOCTYPE html>
<html>
  <head>


    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= "#{yield(:title)}" if yield(:title).present? %></title>

    <meta name="google-site-verification" content="--OtlRtohJfxuKY9dsonHIlBEelaQG13t2DZe16Esq8" />
    
    <%= favicon_link_tag "//s3.amazonaws.com/bleventhal/Barbara+Leventhal_Icon_2c_Icon_2c.png", rel: "icon", type: "image/png"%>

    <%= yield(:head) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => false %>
  </head>

  <body class='<%= "#{controller_name} #{action_name} #{devise_controller? ? 'devise' : nil}"%>'>
    <% unless current_page?(root_url) %>
      <% flash.each do |key, value| %>
        <% if key == "notice" %>
          <div class="alert alert-success"><%= value %><button class="close" data-dismiss="alert">×</button></div>
        <% elsif key == "alert" %>
          <div class="alert alert-danger"><%= value %><button class="close" data-dismiss="alert">×</button></div>
        <% else %>
          <div class="alert alert-<%= key %>"><%= value %><button class="close" data-dismiss="alert">×</button></div>
        <% end %>
      <% end %>
    <% end %>


    <%= render 'layouts/nav' %>

      <%= yield %>

      <%= render 'layouts/fancy_contact_form' %>
      <%= render 'layouts/small_contact_form' %>
      
    <%= render 'layouts/footer' %>

    <%= "<div style='margin-top:148px;'></div>".html_safe if false && Rails.env.development? %>
    <%= console if false && Rails.env.development? %>
    <script>
      $(function() {

        setTimeout(function() {
          if (!window.name) {
            $(".popup_form a").trigger("click");
            window.name = "1" ;
          }
        }, 5000);

        $('.owl-carousel').owlCarousel({
          loop:true,
          margin:10,
          nav:true,
          navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
          dots: false,
          autoplay: true,
          autoplayTimeout: 30000,
          animateOut: 'fadeOut',
          responsiveClass:true,
          responsive:{
              0:{
                  items:1
              }
          }
        });

        $('.bxslider').bxSlider({
          auto: true,
          pause: 7000,
          speed: 2000
        });
        
        $(".menu-trigger").click(function() {
          $("#menu").fadeToggle(1);
          $(this).toggleClass("active");
          $(".position-txt").toggleClass("toggle-txt");
          $(".position-img").toggleClass("toggle-img");
        });
        
        $('.info-request, .get-contact').fancybox();

      }());


    </script>
  </body>
</html>
